# NEXT_PUBLIC_BACKEND_URL=http://172.17.156.24:8000   # serveur uniquement
# NEXT_PUBLIC_IP_BACKEND='172.17.156.24'
# NEXT_PUBLIC_API_URL=http://172.17.156.24:3000

# NEXT_PUBLIC_BACKEND_URL=http://192.168.88.8:8000   # serveur uniquement
# NEXT_PUBLIC_IP_BACKEND='192.168.88.8'
# NEXT_PUBLIC_API_URL=http://192.168.88.8:3000

# NEXT_PUBLIC_BACKEND_URL=http://192.168.1.46:8000   # serveur uniquement
# NEXT_PUBLIC_API_URL=http://192.168.1.46:3000
# NEXT_PUBLIC_IP_BACKEND='192.168.1.46'


NEXT_PUBLIC_LOGIN_URL='/login'

# NEXT_PUBLIC_BACKEND_URL=http://109.234.162.153:8000   # serveur uniquement
# NEXT_PUBLIC_IP_BACKEND='109.234.162.153'
# NEXT_PUBLIC_API_URL=http://109.234.162.153:3000
NEXT_PUBLIC_BACKEND_URL=http://192.168.1.205:8000   # serveur uniquement
NEXT_PUBLIC_IP_BACKEND='192.168.1.205'
NEXT_PUBLIC_API_URL=http://192.168.1.205:3000
NEXT_PUBLIC_PORT_BACKEND="8000"
JWT_SECRET='api_secret'
ADMIN= 'Admin'
UTILISATEUR= 'Utilisateur'
NEXT_PUBLIC_NB_EVENTS_DASHBOARD=4
NEXT_PUBLIC_NEWS_FETCH_LIMIT=4

# App Identity & Branding
NEXT_PUBLIC_APP_NAME='MESUPRES'
NEXT_PUBLIC_MINISTRY_NAME='MESUPRES'
NEXT_PUBLIC_DEPARTMENT_NAME='DSINT'
NEXT_PUBLIC_DEPARTMENT_FULL_NAME="Direction des Systèmes d'Information et du Numérique Technologique"
NEXT_PUBLIC_COPYRIGHT_OWNER='MESUPRES'
NEXT_PUBLIC_COPYRIGHT_YEAR='2024'
